.menuWindow {
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999999;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
}

.menuButton {
  color: #fff;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 7px;
  width: 400px;
  height: 600px;
  background: linear-gradient(100deg, #4223c9, #624cc5);
  border-radius: 18px;
  border: 2px solid #00eeff;
  box-shadow: 0px 0px 50px rgba(114, 234, 255, 0.3);
}

.menuButton > p {
  font-size: 1.3em;
  font-weight: bold;
}

.btn {
  width: 90%;
  height: 50px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  background: #0e004b;
  border: none;
  border-radius: 12px;
  transition: all 0.3s ease;
}
.btn-5 {
  color: #ffffff;
  font-weight: bold;
  border-radius: 12px;
  position: relative;
  background: linear-gradient(160deg, #6d4dff, #0e004b);
  overflow: hidden;
  z-index: 3;

  &::after {
    content: 'Гоу';
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    background: linear-gradient(160deg, #8d74ff, #5a36ff);
    transition: all 0.5s;
    z-index: -1;
    border-radius: 12px;
    transform: translateX(100%);
  }
  &:hover::after {
    transform: translateX(0);
    z-index: -1;
  }
  &:hover {
    box-shadow: -100px 0px 200px #6846ff;
    padding-right: 20px;
  }
  &:active::after {
    content: url(../img/icons8_forward_32px.png);
    width: 80px;
  }
  &:active {
    transform: scale(0.9);
    box-shadow: 100px 0px 200px #6846ff;
  }
}

.icon {
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
}

@media (max-width: 550px) {
  .menuButton {
    width: 350px;
    height: 600px;
  }
}

@media (max-width: 420px) {
  .menuButton {
    width: 320px;
    height: 330px;
  }
  .icon {
    position: absolute;
    visibility: hidden;
  }
  .menuButton > p {
    margin-bottom: 20px;
  }
}
