@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: #fff;
  background: #070c0f;
}

.container {
  max-width: 95%;
  margin: 30px auto;
  padding: 0px 15px 0px 15px;
}

span {
  padding: 2px 7px 2px 7px;
  border-radius: 5px;
  background: rgb(255, 47, 11);
}

/* ADD BLOCK */
.sell-block {
  width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 10000000000000000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.window {
  width: 50%;
  height: 50%;
  padding: 20px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border: 1px solid #9ee71a;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.window > img {
  width: 50%;
  height: 70%;
}

.buttons-call {
  margin-top: 20px;
}

.sell {
  font-size: 1em;
  text-decoration: none;
  padding: 5px 15px 5px 15px;
  border: none;
  background: #9ee71a;
  border-radius: 5px;
  color: #000;
  font-weight: bold;
  transition: all 0.3s ease;
}
.sell:hover {
  box-shadow: 0px 0px 35px rgba(158, 231, 26, 0.3);
}
.sell:active {
  transform: translateY(2px);
}

.content-window > h1 > span {
  padding: 0px;
  color: #9ee71a;
  background: none;
}

.exit-sell {
  width: 100px;
  height: 34px;
  border: 2px solid #9ee71a;
  background: none;
  border-radius: 5px;
  font-size: 1em;
  color: #ffffff;
  font-weight: bold;
  transition: all 0.3s ease;
}
.exit-sell:hover {
  background: red;
  border: 2px solid red;
  box-shadow: 0px 0px 35px rgba(231, 26, 26, 0.3);
}
.exit-sell:active {
  transform: translateY(2px);
}

/* HEADER */
.head {
  display: flex;
  justify-content: space-between;
  font-size: 1.4em;
  font-weight: bold;
}

.name {
  display: flex;
  align-items: center;
  gap: 15px;
}
.name > p {
  transition: all 0.3s ease;
}
.name > p:hover {
  color: #9ee71a;
  text-shadow: 0px 0px 15px rgba(158, 231, 26, 0.7);
}
.name > .LogoImg {
  width: 31px;
  height: 25px;
}

.items {
  display: flex;
  align-items: center;
  gap: 25px;
}
.items > ul {
  display: flex;
  list-style-type: none;
  gap: 25px;
}
.items > ul > li > a {
  transition: all 0.3s ease;
  text-decoration: none;
  color: #fff;
}
.items > ul > li > a:hover {
  color: #9ee71a;
}
.items > .clickPrice {
  width: 100px;
  height: 40px;
  border: none;
  background: #9ee71a;
  border-radius: 5px;
  color: #000;
  font-weight: bold;
  font-size: 0.8em;
  transition: all 0.3s ease;
}
.items > .clickPrice:hover {
  box-shadow: 0px 0px 35px rgba(158, 231, 26, 0.3);
}
.items > .clickPrice:active {
  transform: translateY(2px);
}

#active {
  color: #9ee71a;
}

.header-row .hamburger {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 25px;
  z-index: 200;
}
.header-row .hamburger::before {
  content: "";
  position: absolute;
  background-color: #000000;
  top: -70px;
  right: -69px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.04, -0.1, 0.29, 0.98);
}
.header-row .hamburger span {
  position: relative;
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-color: #ffffff;
  transition: 0.2s;
  z-index: 110;
}
.header-row .hamburger span:not(:last-child) {
  margin-bottom: 5px;
}
.header-row .hamburger span:nth-child(2) {
  transition: opacity 0.1s;
  opacity: 1;
}

.header.mobile span:nth-child(1) {
  transform: rotate(-225deg) translate(7px, -6px);
}
.header.mobile span:nth-child(3) {
  transform: rotate(225deg) translate(6px, 5px);
}
.header.mobile span:nth-child(2) {
  opacity: 0;
}
.header.mobile .hamburger::before {
  width: 100vh;
  height: 100vh;
  transform: scale(5);
  transition-duration: 0.5s;
}
.header.mobile .items {
  opacity: 1;
  pointer-events: visible;
}
.header.mobile .items .menu__list-item:nth-child(1) {
  transition-delay: 0.47s;
}
.header.mobile .items .menu__list-item:nth-child(2) {
  transition-delay: 0.54s;
}
.header.mobile .items .menu__list-item:nth-child(3) {
  transition-delay: 0.61s;
}
.header.mobile .items .menu__list-item:nth-child(4) {
  transition-delay: 0.68s;
}
.header.mobile .items .menu__list-item:nth-child(5) {
  transition-delay: 0.75s;
}
.header.mobile .items .item {
  opacity: 1;
}

/* MAIN */
.price-items {
  margin-top: 50px;
  display: flex;
  flex-flow: column;
  gap: 20px;
}

[class^=item-price-] {
  width: 100%;
  padding: 15px;
  background: rgb(8, 15, 19);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: space-between;
  border-radius: 7px;
  box-shadow: 0px 0px 15px #000;
  align-items: center;
}
[class^=item-price-] > .price-cost {
  font-size: 1.4em;
  font-weight: 600;
}

[class^=item-] {
  display: flex;
  gap: 25px;
  transition: all 0.3s ease;
}
[class^=item-] > img {
  width: 150px;
  height: 150px;
}
[class^=item-]:hover {
  transform: scale(0.995);
  background: rgb(19, 37, 48);
}

.name-desc {
  line-height: 35px;
}

::-moz-selection {
  background: #567e0d;
}

::selection {
  background: #567e0d;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #070c0f;
}

::-webkit-scrollbar-thumb {
  background: #9ee71a;
  border-radius: 5px;
}

/* ADAPTATION */
@media (max-width: 1250px) {
  .window {
    width: 80%;
  }
}
@media (max-width: 930px) {
  .description > h1 {
    font-size: 2em;
  }
  .description > p {
    font-size: 0.9em;
  }
  .decor {
    margin-top: 80px;
  }
  .buttons {
    display: flex;
    flex-flow: column;
    gap: 15px;
  }
  .header-row {
    padding-top: 15px;
    z-index: 150;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .header-row .hamburger {
    display: block;
  }
  .header-row .items {
    pointer-events: none;
    opacity: 0;
  }
  .header-row .menu {
    width: 100%;
    z-index: 210;
    position: fixed;
    left: 50%;
    top: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .header-row .menu li {
    opacity: 0;
    width: 100%;
    transition: 0.5s;
  }
  .header-row .menu li:not(:last-child) {
    margin-right: 0px;
  }
  .header-row .menu li::after {
    display: none;
  }
  .header-row .menu li a {
    font-size: 26px;
    line-height: 34px;
    font-weight: 700;
    color: #fff;
  }
  .header-row .menu li a::after {
    display: none;
  }
  .name {
    margin-top: -50px;
  }
}
@media (max-width: 820px) {
  .window {
    flex-flow: column;
    height: 70%;
  }
  [class^=item-price-] {
    flex-flow: column;
  }
  [class^=item-] {
    flex-flow: column;
    margin: auto;
    text-align: center;
  }
  [class^=item-] > img {
    margin: auto;
  }
  .price-cost {
    padding: 5px 8px;
    background: green;
    border-radius: 8px;
  }
  .name > p {
    font-size: 0.8em;
  }
}
@media (max-width: 480px) {
  .exit-sell {
    width: 80px;
  }
  .sell {
    padding: 5px 7px;
  }
  .name > p {
    font-size: 0.8em;
  }
  .more {
    width: 300px;
    font-size: 1.4em;
  }
}/*# sourceMappingURL=price.css.map */