@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: #f5f5f5;
  color: #000;
  padding: 0px 15px;
}

.photo > img {
  max-height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999999;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.photo-phone > img {
  width: 350px;
  height: 250px;
  display: flex;
  justify-content: center;
  margin: 40px auto -40px;
  padding: 20px;
  visibility: hidden;
}

.description-head {
  position: static;
  max-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-left: 100px;
}

.hi {
  font-size: 2.5em;
}

.name {
  font-size: 3.7em;
}

.ulva {
  color: rgb(68, 68, 255);
}

.work-card {
  background: rgb(120, 120, 254);
  padding: 5px;
  border-radius: 7px;
  width: 110px;
  color: #fff;
  margin: 10px 0px;
}

.desc {
  max-width: 500px;
}

.bgn {
  width: 160px;
  height: 35px;
  margin-top: 15px;
  border-radius: 7px;
  border: none;
  font-size: 0.9em;
  color: #fff;
  font-weight: bold;
  background: rgb(68, 68, 255);
  transition: all 0.3s ease;
}

.bgn:hover {
  background: rgb(38, 38, 186);
}

.container {
  max-width: 97%;
  margin: auto;
}

.about {
  text-align: center;
  max-width: 650px;
  margin: 150px auto;
}

.face {
  margin-top: 200px;
  width: 140px;
  height: 135px;
  filter: drop-shadow(0px 0px 15px rgb(255, 204, 109));
  animation: lisa 1.5s ease infinite;
}

.name-a {
  font-weight: 400;
  font-size: 4em;
  margin-top: 15px;
  margin-bottom: 50px;
}

.text {
  font-size: 1.3em;
  opacity: 0.75;
  font-weight: 300;
  line-height: 35px;
}

.quotes {
  width: 100%;
  background: rgb(68, 68, 255);
  padding: 30px;
  color: #fff;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 0px 15px rgba(68, 68, 255, 0.5);
  transition: all 0.3s ease;
}

.quotes:hover {
  transform: rotateZ(-0.6deg);
}

.quot {
  max-width: 600px;
  margin: auto;
  font-size: 1.3em;
}

.quot > p {
  margin-top: 25px;
  opacity: 0.8;
  font-weight: 200;
}

.contact {
  margin-top: 90px;
  text-align: center;
}

.contact > h1 {
  margin-bottom: 25px;
}

input {
	width: 300px;
  height: 30px;
	font-size: 13px;
	padding: 6px 0 4px 10px;
	border: 1px solid #cecece;
	background: #F6F6f6;
	border-radius: 8px;
  margin: 5px 0px;
}

.submit {
  width: 160px;
  height: 35px;
  margin-top: 15px;
  border-radius: 7px;
  border: none;
  font-size: 0.9em;
  color: #fff;
  font-weight: bold;
  background: rgb(68, 68, 255);
  transition: all 0.3s ease;
}

.submit:hover {
  background: rgb(38, 38, 186);
}

.about-contact {
  margin-top: 35px;
  padding-bottom: 30px;
}

.about-contact > h2 {
  margin-top: 15px;
  transition: all 0.3s ease;
}

.about-contact > h2:hover {
  color: rgb(68, 68, 255);
}

@keyframes lisa {
  0% {
    ransform: rotateZ(0deg);
  } 25% {
    ransform: rotateZ(20deg);
  } 75% {
    transform: rotateZ(-20deg);
  } 100% {
    ransform: rotateZ(0deg);
  }
}

@media (max-width: 1250px) {
  header {
    display: flex;
    flex-flow: column wrap;
  }

  .photo > img {
    visibility: hidden;
  }

  .photo-phone > img {
    visibility: visible;
  }

  .description-head {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    height: 75vh;
    margin-left: 0;
    padding: 20px;
  }

  .face {
    margin-top: -40px;
  }
}
