@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}
html {
  font-size: 100vmax / 1600 * 100;
  @media (max-width: 992px) {
    font-size: 60px;
  }
}
body {
  min-height: 100vh;
  @include flexCenter;
  background-image: linear-gradient(45deg, #153948, #0e084e);
  padding: 0.5rem 0.2rem;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.wrapper {
  position: relative;
  perspective: 500px;
  transform-style: preserve-3d;
  @include flexCenter;
}
.card {
  width: 2.6rem;
  padding: 0.2rem;
  color: #fff;
  font-size: 0.18rem;
  line-height: 1.5;
  border-radius: 0.1rem;
  background-color: rgba(#fff, 0.25);
  backdrop-filter: blur(5px);
  box-shadow: 3px 3px 20px rgba(#000, 0.35);
}
.ring {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  transform: rotateX(20deg) rotateY(-15deg);
  position: absolute;
  border: 3px solid #f8e9b2;
  filter: drop-shadow(0 0 5px white);
  animation: ring-rotating 120s infinite linear alternate;
}

@function setRandomDeg($base: 720) {
  @return random($base) - 360 + deg;
}

$steps: 10;
@keyframes ring-rotating {
  @for $step from 0 through $steps {
    #{$step / $steps * 100%} {
      transform: rotateX(setRandomDeg()) rotateY(setRandomDeg());
    }
  }
}

.shadow {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0.5rem auto 0;
  width: 80%;
  height: 0.3rem;
  background-color: rgba(#000, 0.15);
  filter: blur(8px);
  border-radius: 50%;
  z-index: -1;
}

.button-33 {
  position: absolute;
  bottom: 60px;
  background-color: #cdc2fb;
  border-radius: 100px;
  box-shadow: rgba(53, 44, 187, 0.2) 0 -25px 18px -14px inset,rgba(44, 144, 187, 0.15) 0 1px 2px,rgba(73, 44, 187, 0.15) 0 2px 4px,rgba(44, 123, 187, 0.15) 0 4px 8px,rgba(44, 89, 187, 0.15) 0 8px 16px,rgba(94, 44, 187, 0.15) 0 16px 32px;
  color: rgb(4, 0, 128);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44, 144, 187, 0.35) 0 -25px 18px -14px inset,rgba(44, 146, 187, 0.25) 0 1px 2px,rgba(44, 134, 187, 0.25) 0 2px 4px,rgba(44, 130, 187, 0.25) 0 4px 8px,rgba(44, 104, 187, 0.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}